.logo {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-content: center;
  justify-content: center;
  width: 100%;
}

.logo img {
  width: auto;
  height: auto;
  align-self: center;
  max-height: 100%;
  max-width: 400px;
  user-select: none;
}

.error {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 18px 0;
  align-content: center;
  justify-content: center;
  text-align: center;
  color: #fd5750;
  font-size: 18px;
}

.success {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 32px 0;
  align-content: center;
  justify-content: center;
  text-align: center;
  text-transform: lowercase;
  color: #78f542;
  font-size: 22px;
}
